.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #0c7cd8; /* Light blue color */
  padding: 1rem 0;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-item:hover {
  color: #ccc;
}